body {
    background-image: url("boi.png");
    background-repeat: repeat;
    margin: 0;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.halp {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.beep {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.boop {
    float: left;
    border-right: 1px solid #bbb;
}

.boop a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    color: #6495ed;
}

.coucou {
    word-spacing: 2.5px;
    font-size: 20px;
}

.wobble {
    position: fixed;
    bottom:0px;
    left:50%;
    right:50%;
}

.headings1 {
    font-size: 35px;
    text-align: center;
    word-spacing: 2.5px;
}

.headings2 {
    font-size: 25px;
    text-align: center;
    word-spacing: 2.5px;
}

h3 {
    font-size: 22.5px;
    word-spacing: 2.5px;
}